    a {
        text-decoration: none;
    }

    .content {
        position: absolute;
        left: 50px;
    }

    .content1 {
        margin-top: 30px;
        font-family: 'Roboto Flex', sans-serif;
        font-size: 17px;
        color: black;
        line-height: 23px;
    }

    .log1 {
        margin-top: 30px;
        word-spacing: 2px;
        margin-left: 5px;
        color: #3173b7;
        font-size: 20px;
    }
    .form1{
        padding: 10px;
        padding-right: 45px;
        margin-top: 30px;
        border: none;
        border-radius: 7px;
        font-size: 18px;
        color: #7a7474;
        outline: none;
    }

    .button{
        position: absolute;
        padding: 13px 25px;
        border-radius: 5px;
        border: none;
        background: #3970a8;
        color: white;
        font-size: 18px;
        left: 270px;
        top: 219px;
    }
    .button:hover{
        background: #cc4848;
    }
    .icon{
        margin-top: 45px;

    }
    i{
        padding-left: 25px;
        font-size: 20px;
        color: #5b87b4;
    }
    i:hover{
        color: #cc4848;
    }
    @media only screen and (max-width: 1000px) {
        .content{
            position: absolute;
            left: 0px;
        }
    }
